$menuHeight: 50;
$lightGrey: #efefef;
$darkGrey: #333;

body {
  margin-top: 60px;
}

#map {
  height: 500px;
}


.day-picker {
  font-size: smaller;
}

.glyphicon {
  font-size: 24px;
}

.add-day-button, .add-item, .remove-day-button {
  cursor: pointer;
}